In [1]:
import pandas as pd

In [8]:
import os
print(os.getcwd())

c:\Users\praka\ineuron\MLops_foundation\first_project_mlops\experiment

In [10]:
data = pd.read_csv("C:/Users/praka/ineuron/MLops_foundation/first_project_mlops/data/train.csv")

In [11]:
data.head(5)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

Introduction About the Data : The dataset The goal is to predict price of given diamond (Regression Analysis).

There are 10 independent variables (including id):

id : unique identifier of each diamond

carat : Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.

cut : Quality of Diamond Cut

color : Color of Diamond

clarity : Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.

depth : The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)

table : A diamond's table is the facet which can be seen when the stone is viewed face up.

x : Diamond X dimension

y : Diamond Y dimension

x : Diamond Z dimension

Target variable:

price: Price of the given Diamond.

In [12]:
data['color'].value_counts()

color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64

In [13]:
data.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
28580,28580,0.32,Very Good,G,VS1,63.1,54.0,4.35,4.41,2.77,737
1537,1537,1.00,Premium,J,SI2,58.1,58.0,6.60,6.56,3.83,3216
128119,128119,0.52,Ideal,E,SI2,61.3,56.0,5.18,5.22,3.19,1187
151882,151882,1.21,Ideal,G,VVS2,62.0,57.0,6.79,6.83,4.23,9126
188114,188114,0.76,Good,D,SI1,63.2,55.0,5.85,5.83,3.69,2863
107995,107995,0.41,Ideal,G,IF,60.9,55.0,4.79,4.86,2.94,1367
136,136,1.00,Good,H,SI2,65.3,59.0,6.27,6.21,4.08,4199
78581,78581,0.35,Ideal,E,VS1,62.1,56.0,4.53,4.55,2.82,858
164810,164810,0.34,Ideal,H,VS1,62.1,55.0,4.50,4.52,2.80,726
179661,179661,1.30,Very Good,H,SI1,62.8,55.0,6.91,6.96,4.35,7572

In [14]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [15]:
data.size

2129303

In [17]:
data.shape

(193573, 11)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [19]:
data.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [24]:
data.drop(labels=['id'], axis =1, inplace=True)

In [26]:
data.head(5)

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [28]:
data.duplicated().sum()

0

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   carat    193573 non-null  float64
 1   cut      193573 non-null  object
 2   color    193573 non-null  object
 3   clarity  193573 non-null  object
 4   depth    193573 non-null  float64
 5   table    193573 non-null  float64
 6   x        193573 non-null  float64
 7   y        193573 non-null  float64
 8   z        193573 non-null  float64
 9   price    193573 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 14.8+ MB

In [30]:
data.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [31]:
data.dtypes=='object'

carat      False
cut         True
color       True
clarity     True
depth      False
table      False
x          False
y          False
z          False
price      False
dtype: bool

In [32]:
cat_columns = data.columns[data.dtypes=='object']

In [33]:
cat_columns

Index(['cut', 'color', 'clarity'], dtype='object')

In [34]:
num_columns = data.columns[data.dtypes!='object']

In [35]:
num_columns

Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')